<form action="/users/register" method="POST">
  <label>Username:
    <input type="text" name="username" id="username" required></label>

  <label for="password">Password:
    <input type="password" name="password" id="password" required></label>

  <button type="submit">Register</button>
</form>